<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.im.userlist.dao.UserListMapper" >
  <resultMap id="BaseResultMap" type="com.im.userlist.domain.UserList" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="TEL" property="tel" jdbcType="VARCHAR" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="USERID" property="userid" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
  </resultMap>

		<select id="findList" parameterType="com.im.userlist.vo.UserListVo" resultType="com.im.userlist.domain.UserList">
				SELECT * FROM UserList ul 
				left join  User us on ul.USERID=us.ID
				WHERE 1=1
				<if test="userid!=null and userid!='' ">
					and ul.USERID = #{userid}
				</if>
				<if test="tel!=null and tel!='' ">
		           and ul.TEL= #{tel}
				</if>
		</select>
	
	<select id="findByTelAndUserId" parameterType="com.im.userlist.domain.UserList" resultType="com.im.userlist.domain.UserList">
		SELECT * FROM UserList WHERE 1=1
		<if test="userid!=null and userid!='' ">
					and USERID = #{userid}
		</if>
		<if test="tel!=null and tel!='' ">
		           and TEL= #{tel}
		</if>
	</select>
			
	<select id="findById" parameterType="int" resultType="com.im.userlist.domain.UserList">
		SELECT * FROM UserList WHERE ID = #{id}
	</select>
	<insert id="create" parameterType="com.im.userlist.domain.UserList">
		INSERT INTO UserList
		 (
	  					NAME,
	  					EMAIL,
	  					TEL,
	  					USERNAME,
	  					USERID
		)
			VALUES
			(
	  					#{name},
	  					#{email},
	  					#{tel},
	  					#{username},
	  					#{userid}
			)
	</insert>
	
		<delete id="delete" parameterType="com.im.userlist.domain.UserList">
				DELETE  
					from UserList
			
			<where>
  				<if test="userid!=null and userid!='' ">
					and USERID = #{userid}
				</if>
				<if test="id!=null">
					and ID = #{id}
				</if>
				<if test="tel!=null">
					and TEL = #{tel}
				</if>
			</where>
	</delete>
	
	<update id="update" parameterType="com.im.userlist.domain.UserList">
		UPDATE  UserList 
		<set>
				<if test="status!=null ">
					STATUS = #{status}, 
				</if>
		</set>
		where USERID = #{userid} and ID=#{id}
	</update>

</mapper>