<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.im.album.dao.AlbumMapper">
  <resultMap id="BaseResultMap" type="com.im.album.domain.Album">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="UserId" jdbcType="INTEGER" property="userid" />
    <result column="Url" jdbcType="VARCHAR" property="url" />
    <result column="Tittle" jdbcType="VARCHAR" property="tittle" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="Status" jdbcType="VARCHAR" property="status" />
    <result column="Type" jdbcType="VARCHAR" property="type" />
  </resultMap>
   
   <insert id="create" parameterType="com.im.album.domain.Album">
    insert into Album
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        Name,
      </if>
      <if test="userid != null">
        UserId,
      </if>
      <if test="url != null">
        Url,
      </if>
      <if test="tittle != null">
        Tittle,
      </if>
      <if test="createtime != null">
        CreateTime,
      </if>
      <if test="status != null">
        Status,
      </if>
      <if test="type != null">
        Type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="tittle != null">
        #{tittle,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <select id="findByUserId" parameterType="string" resultType="com.im.album.domain.Album">
		SELECT * FROM Album WHERE UserId = #{userId} 
 </select>
 
   <select id="findAllByUserId" parameterType="string" resultType="com.im.album.domain.Album">
		SELECT * FROM Album WHERE UserId = #{userId} or UserId in ( 
select ID from User where TEL in
(select TEL from UserList where USERID=#{userId})) </select>

<delete id="delete" parameterType="int">
	DELETE  FROM Album where ID=#{id} 
	</delete>
</mapper>